ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
  --overflow: hidden;
}

ion-menu.md ion-list {
  padding: 0;
}

ion-menu.md {
  margin-bottom: 0;
}

ion-menu.md ion-list-header, ion-menu.md {
  padding-left: 10px;
}

ion-menu.md ion-list#main-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#main-list ion-list-header {
  font-size: 22px;
  font-weight: 600;
  min-height: 20px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 0 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-label.ios {
  font-size: 3.8vw;
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item .selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-list-header,
ion-menu.ios {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-item.selected {
  --color: var(--ion-color-primary);
}
.toggle-button{
  padding:5px;
}
.titleh{
  margin-top: 15px;
  margin-bottom: 15px;
  color:var(--ion-color-primary-shade);
}
